h1 {
    color: purple;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
}

.mainwrapper {
    padding-top: 100px;
}

.landing-truemood-logo {
    padding-top: 2%;
    font-family: 'Satisfy', serif;
    font-size: 75pt;
    color: #e2d8e3;
    text-align: center;
}

#login-box {
    max-width: 50%;
    margin: 0 auto;
}

#quote {
    font-size: 14pt;
}

.landing-background {
    background-image: url('./../images/PurpleBgCreativeCommons.jpg');
    background-size:cover;
}

.landing-container {
    margin: 0 auto;
    max-width:50%
}

.landing-main {
    color: #e2d8e3;
}

#quotebox {
    text-align: center;
}

#landing-submit {
    margin: 0 auto;
}

.button-black {
    background-color: black;
    border-color: black;
  }

  #oops-container {
    padding-left: 10%;
    padding-top: 5%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9b4dca;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-logo {
    font-family: 'Satisfy', serif;
    font-size: 24px;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}