
    <form action="/login" method="post">

            <label for="email">Email</label>
            <input type="text" id="email" name="email">

            <label for="userpass">Password</label>
            <input type="password" id="userpass" name="userpass">

        <button id="landing-submit" type="submit">Submit</button>

    </form>
