<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('csscdnlinks') %>
    <title>My Account</title>
</head>
<body>
    <p>Plan: <%= data.plan_type %></p>
</body>
</html>