<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li class=""><a href="#">Create Snapshot</a></li>
            <li><a href="#">Insights</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
        <h1 class="logo">TrueMood</h1>
    </div>
</nav>
