<div class="navbar">
    <div class="navbar-logo">TrueMood</div>
    <div class="nav-links">
        <a href="/" class="nav-link">Create Snapshot</a>
        <a href="/insights" class="nav-link">Insights</a>
        <a href="/logout" class="nav-link">Log Out</a>
    </div>
</div>